**/__pycache__/
**/secrets.yaml
**/secrets.yaml.disabled
/!not used custom components
/home-assistant.log.1
/home-assistant.log.fault
/.HA_VERSION
/.cloud
/.google.token
/.shopping_list.json
/.sonoff.json
/.storage
/.vscode
/.ssh
/cache.json
/H8O2IA~5
/__AddOn___Config.txt
/alexa_media.Bruce.Hartley@ClickSpares.co.uk.pickle
/alexa_media.bruce.hartley@ClickSpares.co.uk.pickle
/appdaemon
/homebridge
/deps
/faces
/google_calendars.yaml
/zigbee.db*
/home-assistant.log
/home-assistant_v2.db
/ic3_config
/image
/known_devices.yaml
/netdaemon
/node-red
/octopusagile.json
/pyozw.sqlite
/python_scripts
/snapshots
/!RoomAssistant
/tts
/www
/zigbee.db
/zigbee.db-shm
/zigbee.db-wal
/frigate.yml
/solcast.json
/secrets.yaml
/zones.yaml
/platerecogniser/
/esphome/
/custom_components/samsungtv_tizen/token-192.168.21.90.txt
/packages/areas/drive/template_binary_sensor_plate_*.yaml
/packages/systems/violet/file to load onto switch for HTTPviaSD/requests.yml
/Google_API_key.json